@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-base: var(--color-base-700);
  --color-base-50: var(--color-neutral-50);
  --color-base-100: var(--color-neutral-100);
  --color-base-200: var(--color-neutral-200);
  --color-base-300: var(--color-neutral-300);
  --color-base-400: var(--color-neutral-400);
  --color-base-500: var(--color-neutral-500);
  --color-base-600: var(--color-neutral-600);
  --color-base-700: var(--color-neutral-700);
  --color-base-800: var(--color-neutral-800);
  --color-base-900: var(--color-neutral-900);
  --color-base-950: var(--color-neutral-950);

  --color-accent: var(--color-accent-600);
  --color-accent-50: #eff8ff;
  --color-accent-100: #daeeff;
  --color-accent-200: #bee2ff;
  --color-accent-300: #91d2ff;
  --color-accent-400: #5eb7fc;
  --color-accent-500: #3897f9;
  --color-accent-600: #2279ee;
  --color-accent-700: #1a63db;
  --color-accent-800: #1d53b8;
  --color-accent-900: #1c468c;
  --color-accent-950: #162c55;

  --color-destructive: var(--color-destructive-600);
  --color-destructive-50: var(--color-red-50);
  --color-destructive-100: var(--color-red-100);
  --color-destructive-200: var(--color-red-200);
  --color-destructive-300: var(--color-red-300);
  --color-destructive-400: var(--color-red-400);
  --color-destructive-500: var(--color-red-500);
  --color-destructive-600: var(--color-red-600);
  --color-destructive-700: var(--color-red-700);
  --color-destructive-800: var(--color-red-800);
  --color-destructive-900: var(--color-red-900);
  --color-destructive-950: var(--color-red-950);
}

@custom-variant ihover {
  &:not(:disabled):hover {
    @slot;
  }
}

@custom-variant iactive {
  &:not(:disabled):hover:active {
    @slot;
  }
}

@layer base {
  /* Disable overscroll support on mobile devices
    to improve map functionality and control */

  html {
    overflow: hidden;

    body {
      overflow: auto;
      height: 100vh;
      overscroll-behavior: contain;
    }
  }
}

@layer utilities {
  body {
    @apply bg-base-50 text-base-800;
  }

  h1,
  h2,
  h3 {
    @apply text-base-950 font-semibold;
  }
}
